body {
    height: 200vh;
    background-color:blueviolet;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 800px;
    width: 100%;
    min-height: 450px;
    background-color: cadetblue;
    border: 10px solid firebrick;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.objects:nth-child(1) {
    background-color: burlywood;
    align-self: baseline;
}

.header, .text {
    font-family: 'Roboto', sans-serif;
}